#box {
  background: rgba(255, 255, 255, 0.05);
  transition:
    background 0.5s ease,
    margin 0.2s ease;
  margin: 10px;
}

.animate #box {
  background: transparent;
  margin: 0px;
}

#label {
  opacity: 0;
}
