// | > Input Settings < |
include "configs/input.kdl"

// | > Keybinds Settings < |
include "configs/binds.kdl"

// | > Startup Applications < |
include "configs/startup.kdl"

// | > Animations Settings < |
include "configs/animations.kdl"

// | > Layout Settings < |
include "configs/layout.kdl"

// | > Rules Settings < |
include "configs/rules.kdl"

// | > Others < |
cursor {
    hide-when-typing
    hide-after-inactive-ms 2000
}

gestures {
    hot-corners {
        off
    }
}

prefer-no-csd 
screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H:%M:%S.png"

// | > Environment Variables < | 
environment {
    DISPLAY ":1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"
    EDITOR "nvim"
}

hotkey-overlay {
    skip-at-startup
}
