binds {
    MOD+SHIFT+ESCAPE                     { show-hotkey-overlay; }

    // | > Applications < | 
    MOD+P                               repeat=false {spawn-sh "~/Projects/love/menu";}
    MOD+RETURN                          repeat=false hotkey-overlay-title="Open Terminal: kitty" { spawn-sh "kitty"; }
    MOD+SPACE                           repeat=false hotkey-overlay-title="Open App Launcher: wofi" { spawn-sh "wofi"; }
    MOD+B                               repeat=false hotkey-overlay-title="Open Browser: zen browser" { spawn-sh "zen-browser"; }
    MOD+ALT+L                           repeat=false hotkey-overlay-title="Lock Screen: swaylock" { spawn-sh "swaylock"; }
    
    MOD+E { spawn-sh "kitty -e yazi"; }

    // | > Audio Controls < |
    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute                       allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute                    allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioNext                       allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86AudioPause                      allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPlay                       allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev                       allow-when-locked=true { spawn-sh "playerctl previous"; }

    // | > Windows Focus & Movements < | 
    MOD+Q                               { close-window; }

    MOD+LEFT                            { focus-column-left; }
    MOD+H                               { focus-column-left; }
    MOD+RIGHT                           { focus-column-right; }
    MOD+L                               { focus-column-right; }
    MOD+UP                              { focus-window-up; }
    MOD+K                               { focus-window-up; }
    MOD+DOWN                            { focus-window-down; }
    MOD+J                               { focus-window-down; }

    MOD+SHIFT+LEFT                       { move-column-left; }
    MOD+SHIFT+H                          { move-column-left; }
    MOD+SHIFT+RIGHT                      { move-column-right; }
    MOD+SHIFT+L                          { move-column-right; }
    MOD+SHIFT+UP                         { move-window-up; }
    MOD+SHIFT+K                          { move-window-up; }
    MOD+SHIFT+DOWN                       { move-window-down; }
    MOD+SHIFT+J                          { move-window-down; }

    MOD+HOME                            { focus-column-first; }
    MOD+END                             { focus-column-last; }
    MOD+CTRL+HOME                       { move-column-to-first; }
    MOD+CTRL+END                        { move-column-to-last; }

    // | > Workspace Switching < |
    MOD+WHEELSCROLLDOWN                 cooldown-ms=150 { focus-workspace-down; }
    MOD+WHEELSCROLLUP                   cooldown-ms=150 { focus-workspace-up; }
    MOD+CTRL+WHEELSCROLLDOWN            cooldown-ms=150 { move-column-to-workspace-down; }
    MOD+CTRL+WHEELSCROLLUP              cooldown-ms=150 { move-column-to-workspace-up; }

    MOD+WHEELSCROLLRIGHT                { focus-column-right; }
    MOD+WHEELSCROLLLEFT                 { focus-column-left; }
    MOD+CTRL+WHEELSCROLLRIGHT           { move-column-right; }
    MOD+CTRL+WHEELSCROLLLEFT            { move-column-left; }

    MOD+SHIFT+WHEELSCROLLDOWN           { focus-column-right; }
    MOD+SHIFT+WHEELSCROLLUP             { focus-column-left; }
    MOD+CTRL+SHIFT+WHEELSCROLLDOWN      { move-column-right; }
    MOD+CTRL+SHIFT+WHEELSCROLLUP        { move-column-left; }

    MOD+1                               { focus-workspace 1; }
    MOD+2                               { focus-workspace 2; }
    MOD+3                               { focus-workspace 3; }
    MOD+4                               { focus-workspace 4; }
    MOD+5                               { focus-workspace 5; }
    MOD+6                               { focus-workspace 6; }
    MOD+7                               { focus-workspace 7; }
    MOD+8                               { focus-workspace 8; }
    MOD+9                               { focus-workspace 9; }

    MOD+SHIFT+1                          { move-column-to-workspace 1; }
    MOD+SHIFT+2                          { move-column-to-workspace 2; }
    MOD+SHIFT+3                          { move-column-to-workspace 3; }
    MOD+SHIFT+4                          { move-column-to-workspace 4; }
    MOD+SHIFT+5                          { move-column-to-workspace 5; }
    MOD+SHIFT+6                          { move-column-to-workspace 6; }
    MOD+SHIFT+7                          { move-column-to-workspace 7; }
    MOD+SHIFT+8                          { move-column-to-workspace 8; }
    MOD+SHIFT+9                          { move-column-to-workspace 9; }

    MOD+TAB                             { focus-workspace-previous; }

    // | > Layout Controls < |
    MOD+SHIFT+F                          { expand-column-to-available-width; }
    MOD+C                               { center-column; }
    MOD+SHIFT+C                          { center-visible-columns; }
    MOD+MINUS                           { set-column-width "-10%"; }
    MOD+EQUAL                           { set-column-width "+10%"; }
    MOD+SHIFT+MINUS                     { set-window-height "-10%"; }
    MOD+SHIFT+EQUAL                     { set-window-height "+10%"; }

    // | > Modes < |
    MOD+T                               { toggle-window-floating; }
    MOD+F                               { fullscreen-window; }
    MOD+W                               { toggle-column-tabbed-display; }

    // | > Screenshots < |
    Print {screenshot;}
    CTRL+SHIFT+1                        { screenshot; }
    CTRL+SHIFT+2                        { screenshot-screen; }
    CTRL+SHIFT+3                        { screenshot-window; }

    // | > Emergency Escape Key < |
    // Use this when a fullscreen app blocks your keybinds.
    // It disables any active keyboard shortcut inhibitor, restoring control.
    MOD+ESCAPE                          allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // | > Exit / Power < |
    CTRL+ALT+DELETE                     { quit; } // Also quits Niri
    MOD+SHIFT+P                         { power-off-monitors; } // Turn off screens (useful for OLED or privacy)
    MOD+O                               repeat=false { toggle-overview; }
  }
