input {
    keyboard {
        xkb {
            layout "us, es, pt" 
            options ""
        }
        numlock 
    }

    workspace-auto-back-and-forth 
}

 output "HDMI-A-1" {
    mode "1920x1080@74.973" 
    scale 1 
}
