window-rule {
    match app-id=r#"zen-browser$"# title="^Picture-in-Picture$"
    open-floating true // Always float Zen Browser PiP windows
}

window-rule {
  match app-id=r#"love$"# 
  open-floating true
}

window-rule {
    geometry-corner-radius 8 
    clip-to-geometry true
    draw-border-with-background false
}

layer-rule {
    place-within-backdrop true
}
