//  All applications
window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
    draw-border-with-background false

}

// Kitty
window-rule {
	match app-id="kitty"
	opacity 0.99
}

// Xray false
window-rule {
    match is-floating=true

    background-effect {
        xray true 
    }
}
// Love2D
window-rule {
    match app-id="love$"
    open-floating true
}
// Launcher
window-rule {
    match app-id="launcher"
    default-column-width {
        proportion 0.5
    }
    default-window-height {
        proportion 0.5
    }
    open-floating true
}
// Background layer
layer-rule {
    place-within-backdrop true
}

