spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &"
spawn-sh-at-startup "awww-daemon"
spawn-sh-at-startup "awww img ~/wallpapers/default.png"
spawn-sh-at-startup "xwayland-satellite"

//spawn-sh-at-startup "waybar"
spawn-sh-at-startup "pipewire"
