@define-color gruv-white rgba(216, 222, 228, 0.8);
@define-color gruv-red rgba(204, 36, 29, 0.8);

@define-color text-white rgba(255, 255, 255, 0.9);

@define-color hover-black rgba(0, 0, 0, 0.3);
@define-color mute-black rgba(0, 0, 0, 0.6);

* {
  font-family: 'JetbrainsMono Nerd Font';
  font-size: 13px;
  /*border-radius: 0px;*/
  transition: 0.5s ease-out;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.7);
  color: @text-white;
  transition-property: background-color;
  border-radius: 0px 5px 5px 0px;
}

button {
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 2px 0px @gruv-white;
}

#custom-powerbutton,
#custom-reboot,
#custom-suspend,
#custom-lock,
#custom-idlekiller,
#custom-playpause,
button,
#window,
#network,
#custom-appmenu,
#pulseaudio,
#pulseaudio-slider,
#clock {
  padding: 10px 0px;
  color: @text-white;
  background: transparent;
}

#window {
  margin: 20px 0px;
}

window#waybar.empty #window {
  opacity: 0;
}

#clock:hover {
  color: @gruv-white;
  background-color: @hover-black;
}

window#waybar.empty #clock {
  border-radius: 0 0 20px 0;
}

#pulseaudio.muted:hover,
#pulseaudio:hover {
  color: @gruv-white;
  transition-duration: .5s;
  background-color: @hover-black;
}

#pulseaudio.muted {
  background-color: @mute-black;
  color: @text-white;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 60px;
  min-width: 10px;
  border-radius: 5px;
  background: @hover-black;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: @text-white;
}

#pulseaudio-slider:hover highlight {
  background: @gruv-white;
}

#backlight:hover {
  color: @gruv-white;
  background-color: @hover-black;
}

#backlight-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#backlight-slider trough {
  min-height: 60px;
  min-width: 10px;
  border-radius: 5px;
  background-color: @hover-black;
}

#backlight-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: @text-white;
}

#backlight-slider:hover highlight {
  background: @gruv-white;
}

#battery:hover,
#battery.charging:hover,
#battery.plugged:hover {
  color: @gruv-white;
  transition-duration: .5s;
  background-color: @hover-black;
}

#window:hover {
  color: @gruv-white;
  background-color: @hover-black;
}


#taskbar button {
  padding: 5px 0;
}

#taskbar button.active {
  background: @mute-black;
  box-shadow: inset 2px 0px @gruv-white;
}

#custom-appmenu:hover {
  color: @gruv-white;
  background-color: @hover-black;
}


#custom-powerbutton:hover {
  color: @gruv-white;
  background-color: @hover-black;
}

window#waybar.empty #custom-powerbutton {
  border-radius: 0 20px 0 0;
}

#custom-reboot:hover {
  color: @gruv-white;
  background-color: @hover-black;
}

#custom-suspend:hover {
  color: @gruv-white;
  background-color: @hover-black;
}

#custom-lock:hover {
  color: @gruv-white;
  background-color: @hover-black;
}

#custom-idlekiller:hover {
  color: @gruv-white;
  background-color: @hover-black;
}

#user:hover {
  color: @gruv-green;
  background-color: @hover-black;
}

#taskbar,
#workspaces {
  background: transparent;
  border-radius: 0px;
  margin: 10px 0px;
}

#workspaces button {
  padding: 7px 0px;
  background-color: transparent;
  color: @text-white;
  border-radius: 0px;
  transition: 0.2s ease-in-out;
  font-size: 15px;
}

#workspaces button.active {
  background-color: @mute-black;
  border-radius: 0px;
  font-weight: 900;
}

#workspaces button.active:hover {
  color: @gruv-white;
}

#workspaces button:hover {
  background: @hover-black;
}

#workspaces button.focused {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 2px 0px @gruv-white;
}

#workspaces button.urgent {
  background-color: @gruv-white;
  border-radius: 10px;
}

#custom-playpause:hover {
  color: @gruv-white;
  background-color: @hover-black;
}

#network.disconnected {
  background-color: @gruv-red;
}

#custom-wallpaper:hover {
  color: @gruv-white;
  background-color: @hover-black;
}

#custom-wallpaper {
  box-shadow: inset 2px 0px @gruv-white;
}
