@define-color background rgba(0, 0, 0, 0.7);
@define-color foreground rgba(90, 147, 216, 1);
@define-color foreground-opacity rgba(90, 147, 216, 0.5);

* {
    font-family: "3270 Nerd Font Mono";
    font-size: 20px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground-opacity;
}

#workspaces button.focused {
    color: @foreground;
}

#workspaces button:hover {
    background: none;
    color: @foreground;
    box-shadow: none;
    border: none;
}
